# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
_saved*
*.tmp

# Gerbers:
*.zip
Gerbers/*

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv
